<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwExceptions="true">

  <!-- Targets: where logs go -->
  <targets>
    <!-- File target -->
    <target xsi:type="File" name="logfile"
            fileName="${basedir}/logs/HISLogic.log"
            layout="${longdate}|${level:uppercase=true}|${logger}|${message} ${exception:format=ToString}" 
            keepFileOpen="false"
            concurrentWrites="true" />
    
    <!-- Optional: console output for debugging -->
    <target xsi:type="Console" name="console" layout="${longdate}|${level}|${logger}|${message}" />
  </targets>

  <!-- Rules: which loggers write where -->
  <rules>
    <!-- All loggers at Info+ go to file -->
    <logger name="*" minlevel="Info" writeTo="logfile" />
    <!-- Optional: console logging -->
    <logger name="*" minlevel="Debug" writeTo="console" />
  </rules>
</nlog>